* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Arial;
}

.slider-container {
  width: 800px;
  height: 400px;
  margin: 10px auto;
  position: relative;
}

.slider-container img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  width: 800px;
  height: 100%;
}

.slider-container img.active {
  opacity: 1;
}

.slider-container .slide-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  z-index: 2;
  font-size: 20px;
  border-radius: 5px;
}

.slier-controls {
  width: 800px;
  margin: auto;
  overflow: hidden;
}

.slier-controls .prev,
.slier-controls .next {
  width: 20%;
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.slier-controls .prev {
  float: left;
}

.slier-controls .next {
  float: right;
}

.slier-controls .prev.disabled,
.slier-controls .next.disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}

.slier-controls .indicators {
  width: 60%;
  float: left;
}

.slier-controls .indicators ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

.slier-controls .indicators ul li {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 2px;
  border-radius: 4px;
  background-color: #f6f6f6;
  color: #333;
  font-weight: bold;
  line-height: 28px;
  cursor: pointer;
}

.slier-controls .indicators ul li.active {
  background-color: #009688;
  color: #fff;
}
